/* Imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap')

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Volkhov', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    z-index: 99;
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Odor Mean Chey';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #004526;
    font-size: 200%;
    text-align: center;
    padding-right: 50px;
}

#menu {
    list-style-type: none;
    font-size: 90%;
    letter-spacing: 2px;
    color: #004526;
}
#menu > li {
    margin-bottom: 1em;
}

/* Navbar toggle styles */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1.5rem;
    box-shadow: 0 2px 2px #ffffff;
    display: none;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #004526;
    text-align: center;
    padding-right: 20px;
}

/* Main Content */
main {
    /* Make main element push footer down */
    flex: 1 0 auto;
    margin-top: 120px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%; 
    background: url("../images/Yoga-043-scaled.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    color:#004526;
    text-align: center;
    padding-top: 60px;

}

/* About us section */
#aboutus {
    text-align: center;
    padding: 2rem;
}

/* Yoga page */


.yoga-image {
    width: 100%;
}

.yoga-header {
    text-align: center;
    color: #004526;
}

.yoga-paragraph {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Meditation page */
.meditation-image {
    width: 100%;
}

.meditation-header {
    text-align: center;
    color: #004526;
}

.meditation-paragraph {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Sign up Page */
#signup-form {
    text-align: center;
}

.signup-header{
    color:#004526;
}

.text-input {
    background: white;
    color: #3a3a3a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
}

.submit-button {
    color: #ffffff;
    text-align: center;
    font-size: 100%;
    background-color:#004526;
    border-radius: 2px;
    margin-top: 20px;
    padding: 10px;
}

/* Congrats page */
#congrats-p {
    text-align: center;
    padding-top: 5rem;
    color: #004526;
}

/* Footer */
footer {
    background-color: #ffffff;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #004526;
}

/* Media query for larger screens (992px and up) */
@media  screen and (min-width: 992px) {
    /* Header */
nav {
    display: block;
}

.nav-toggle-label {
    display: none;
}

#menu {
    display: flex;
    font-size: 15px;
}
#menu > li {
    padding-left: 15rem;
}

/* About us section */
#aboutus {
    font-size: 25px;
    padding-left: 10rem;
    padding-right: 10rem;
}

/* Yoga page */
.yoga-image {
    float: left;
    width: 50%;
}
#yoga-text-section {
    padding: 3rem;
    padding-left: 60rem;
    font-size: 105%;
}

/* Meditation page */
.meditation-image {
    float: right;
    width: 50%;
}

#meditation-text-section {
    padding: 3rem;
    padding-right: 60rem;
    font-size: 105%;
}

/* Sign up page */
#signup-form {
    width: 50%;
    padding-left: 25%;
    padding-top: 10%;
}
}