/* Imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap')

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Volkhov', sans-serif;
}

/* Header */
header {
    background-color: red;
}

/* Main Content */
main {
    background-color: aqua;
    /* Make main element push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: blueviolet;
}