/* Imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap')

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Volkhov', sans-serif;
}

/* Header */
header {
    background-color: #90EE90;
    z-index: 99;
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #90EE90;
    
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Odor Mean Chey';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    font-size: 200%;
    text-align: center;
    padding-right: 50px;
}

#menu {
    list-style-type: none;
    font-size: 90%;
    letter-spacing: 2px;
    color: #ffffff;
}
#menu > li {
    margin-bottom: 1em;
}

/* Navbar toggle styles */
nav {
    position: absolute;
    background-color: #90EE90;
    width: 100%;
    left: 0;
    padding: 0 1.5rem;
    box-shadow: 0 2px 2px #90EE90;
    display: none;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    padding-right: 20px;
}

/* Main Content */
main {
    background-color: aqua;
    /* Make main element push footer down */
    flex: 1 0 auto;
    margin-top: 120px;
}

/* Footer */
footer {
    background-color: #90EE90;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Media query for larger screens (768px and up) */
@media  screen and (min-width: 768px) {
    /* Header */
nav {
    display: block;
}

.nav-toggle-label {
    display: none;
}

#menu {
    display: flex;
    font-size: 15px;
}
#menu > li {
    padding-left: 15rem;
}
}