/* Imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap')

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Volkhov', sans-serif;
}

/* Header */
header {
    background-color: #000000;
    z-index: 99;
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Odor Mean Chey';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    font-size: 200%;
}

#menu {
    list-style-type: none;
    font-size: 90%;
    letter-spacing: 2px;
    color: #ffffff;
}
#menu > li {
    margin-bottom: 1em;
}

/* Navbar toggle styles */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1.5rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
}

/* Main Content */
main {
    background-color: aqua;
    /* Make main element push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: blueviolet;
}